
App {
  text-align: center;
  height: 500px;
}



.scrollTop {
  position: fixed;
  background: #FAFAFA;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 40px;
  right: 60px;
  bottom: 50px;
  align-items: left;
  height: 40px;
  justify-content: flex-end;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 5;
  font-size: 50px;
  color: #F26628 ;
}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@media screen and (min-width: 280px) and (max-width: 700px) {
  .scrollTop{
    width: 30px;
    height: 30px;
    right: 30px;
    bottom: 80px;
  }
}